# LOCAL DATABASE
# DATABASE_URL="postgresql://dbuser:dbpassword@dbhost:dbport/dbname"

# PROD DATABASE
# DATABASE_URL="postgresql://dbuser:dbpassword@dbhost:dbport/dbname"

JWT_SECRET="aaaaaaaaaaa"

EMAIL_SERVICE="email-service"
EMAIL_USER="email@email.com"
EMAIL_PASSWORD="abcd-password"

# docker run --name container_name -e POSTGRES_PASSWORD=db_password -p port:port -d postgres